@charset "utf-8";
*{margin:0;padding: 0;box-sizing: border-box;}
ul{list-style-type: none;}
a{text-decoration: none;color: black;}
a:hover{color: red;}
body{background:#F8F8F8;}
body,a,p{font-family: "Courier New", Courier, monospace}
.box,.top{clear: both;overflow: hidden;}
/*顶部布局*/
.box{width: 100%;min-width: 1250px;overflow: hidden;}
.top{width: 100%;height: 50px;background: linear-gradient(to right, rgba(121,188,222,.7), rgba(121,184,81,.5));}
.top ul{width: 1300px;height: 50px;margin: 0 auto;}
.top ul li{float: left;line-height: 50px;width: 100px;height: 50px;text-align: center;margin-right: 60px;}
.top ul li a{color: white;}
.top ul li a:hover{color: red;}
/**/
.main{width: 1300px;margin: 0 auto;height: auto;}
.main-l{float: left;width: 800px;}
.main-l div{width: 98%;height: 150px;border-bottom: 1px dashed #ccc;margin: 0 auto 20px;padding-top: 10px;}
.main-l div img{float: left;width: 200px;height: 120px;margin-right: 10px;}
.main-r{float: right;width: 450px;height: 900px;background:rgba(192,195,198,.2);margin-top: 10px;}
.main-r div{width: 98%;height: 100px;margin: 15px auto 10px;float: left;border-bottom: 1px solid #ccc;}
.main-r div img{width: 130px;height:90px;float: left;}
/*底部布局*/
.footer{width: 100%;height: 300px;margin: 20px 0 0;background:#2B373D;clear: both;}
.foot{width: 1300px;height: 200px;margin: 0 auto;border-bottom: 1px dashed #ccc;}
.info{width: 350px;height: 120px;padding: 30px;color: white;margin-top: 20px;float: left;}
.info a{color: white;}
.link{width: 500px;height: 150px;float: left;margin-top: 30px;border-left: 1px dashed #999;border-right: 1px dashed #999;}
.link1{width: 130px;height: 200px;float: left;font-size: 18px;font-weight: bold;color: #ccc;text-align: center;margin-right: 20px;}
.link1 ul li{width: 100%;height: 20px;margin: 10px 0;font-size: 12px;}
.link1 ul li a{color: #999;}
.wechat{float: left;width: 350px;height: 150px;margin:30px 0 0 50px;}
.w1{width: 150px;height: 150px;float: left;}
.w1 span{color: #ccc;}
.w1 img{width: 110px;height: 110px;}
.banquan{width: 1300px;height: 90px;margin: 20px auto 0;text-align: center;color: #999;font-size: 14px;}
.banquan a{color: #999;}